# scraping libraries
beautifulsoup4
requests
lxml
geopy
logging
folium
streamlit
plotly
streamlit-option-menu
pandas
streamlit-aggrid
streamlit-folium
mistralai
python-dotenv
nltk
scikit-learn
app.utils
